* {    
    font-family: "Indie Flower", cursive;
    
}

body {
    background-color: rgb(216, 216, 216);
}

h1 {
    background-color: lightyellow;
    padding: 14px;
    display: block;
    color: mediumslateblue;
    border-radius: 25px;
    
}

.datos {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.datos__texto {
    color: darkviolet;
    width: 50%;
    text-align: center;
    font-size: x-large;
    font-style: italic;

}

.datos__img img {
    width: 800px;
    border-radius: 25px;
    border: solid;
    border-color: lightskyblue;
    
}

.tv {
    display: flex;
    align-items: center;
    justify-content: center;

}

.tv__series h3 {
    text-align: center;
    color: mediumslateblue;
    font-size: x-large;
}

.tv__series {
    background: linear-gradient(to bottom, palegreen, white);
    box-shadow: 1px 1px 9px 4px rgba(0,0,0,0.75);
    margin: 14px;
    width: 500px;
    border-radius: 25px;
    transition: 0.7s;
    border: solid;
    border-color: lightskyblue;

}

.tv ul :hover {
    transform: scale(1.5);
    color: darkturquoise;
    border-radius: 25px;

}

.tv__peliculas h3 {
    text-align: center;
    color: mediumslateblue;
    font-size: x-large;
}

.tv__peliculas {
    background: linear-gradient(to bottom, palegreen, white);
    box-shadow: 1px 1px 9px 4px rgba(0,0,0,0.75);
    margin: 14px;
    width: 500px;
    border-radius: 25px;
    transition: 0.7s;
    border: solid;
    border-color: lightskyblue;
}

ul {
    list-style: none;
    font-style: italic;
    font-size: large;
    text-align: center;
}

.perfil h2 {
    padding: 5px;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: mediumslateblue;
    margin-top: 5px;
    margin-bottom: 10px;
}

.perfil p {
    margin: 5px;
    padding: 5px;
    font-size: large;
}

.perfil {
    background-color: lightyellow;
    font-size: x-large;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 8px;
}

.perfil__1 {
    
    color: mediumslateblue;
}



footer {
    width: 98.2%;
    position: absolute;
    bottom: 5px;
    background: linear-gradient(to bottom, palegreen, white);
    padding: 10px;
    color: mediumslateblue;
    border-radius: 25px;
    font-style: italic;
}